#drag-1, #drag-2, #drag-3, #drag-4, #drag-5, #drag-6 {
  width: 60px;
  height: 60px;
  min-height: 1.5em;
  background-color: #00FF0B;
  text-align: center;
  border-radius: 2em;
  padding-top:3px;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}

#outer-dropzone {
  height: 250px;
  width: 250px;
  background: #FDFE98;
  border: solid;
  text-align: center;
}

#inner-dropzone {
    position: relative;
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 25%;
    background: white;
	border: solid;
}

#outgoing {
  height: 100px;
  width: 200px;
  background: #CC99FE;
  border: dotted;
  text-align: center;
  color: white;
}

#ingoing {
  height: 100px;
  width: 200px;
  background: #CC99FE;
  border: dotted;
  text-align: center;
  color: white;
}

#entrance {
  height: 50px;
  width: 150px;
  background: #A12621;
  border: dotted;
  text-align: center;
  color: white;
}

.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  width: 100%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  background-color: #29e;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}

.resize-container {
  display: inline-block;
  width: 100%;
  height: 500px;
  border-style: solid;
  border-width: 5px;
  background-color: #4D4D4D;
}

